<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/8c4fdfb3-3628-4404-96b7-9e96c6e63b27/resourceGroups/ProjApiAzure/providers/Microsoft.ApiManagement/service/MedicineStockApiapi/apis/MedicineStockApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/8c4fdfb3-3628-4404-96b7-9e96c6e63b27/resourcegroups/AzureMed/providers/Microsoft.Web/sites/MedicineStockApi20210820095117</ResourceId>
    <ResourceGroup>AzureMed</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://medicinestockapi20210820095117.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>52522941-dcd3-4cfa-82e7-3a9d1757ae69</ProjectGuid>
    <PublishUrl>https://medicinestockapi20210820095117.scm.azurewebsites.net/</PublishUrl>
    <UserName>$MedicineStockApi20210820095117</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>